.header {
    padding-top: 10px;
    width: 100%;

    @mixin mediaTablet {
        @media screen and (max-width: 1199px) {
            @content;
            position: inherit;
        }
    }
    
    @mixin mediaMobile {
        @media screen and (max-width: 1023px) {
            @content;
            position: inherit;
        }
    }
    


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid $darkColor;
        border-radius: 5px;
        padding: 10px;
        background-color: #ececec;

        @media (max-width: 1200px) {
            width: 1024px;
        }
    
        @media (max-width: 767px) {
            width: 771px;
        }
    
        @media (max-width: 479px) {
            width: 100%;
            margin: auto;
        }
    }

    &__logo {
        &-link {
            //width: 36px;
            //height: 36px;
            @include flexY(center);
            gap: 0 10px;


        }
        &-title {
            font-weight: 600;

            font-family: $rampart;
            @include fontSize(25);
            letter-spacing: 1px;
            transition: all .2s ease-in-out;
            &:hover {
                cursor: pointer;
                font-weight: 100;
            }


        }
        &-svg {
            width: 32px;
            height: 32px;
            fill: #0079bf;
            &:hover {
                cursor: pointer;


            }
        }
    }
    &__time-frame {
        border: 1px solid #a9a9a9;
        border-radius: 5px;
        background-color: white;
        width: 100px;
        height: 45px;
    }
    &__time {
        text-align: center;
        padding: 10px;
        @include fontSize(19);
        font-weight: bold;
        font-family: $roboto;
        color: $darkColor;
    }
}
    
