<div class="modal__wrapper">
    <form>
        <input type="title" placeholder="Title">
        <input type="text" placeholder="Description">
    </form>
        <div class="modal__item">
            <select name="list">
                <option value="user">Select user</option>
            </select>
            <div class="modal__buttons">
                <button class="modal__btn action-button">Cancel</button>
                <button class="modal__bttn action-button">Confirm</button>
            </div>
        </div>
 </div>

<div class="warning">
    <h3 class="warning__text">Warning!</h3>
    <div class="warning__but">
        <button class="warning__btn action-button">Cancel</button>
        <button class="warning__bttn action-button">Confirm</button>
    </div>
</div>

