<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <title>Trello</title>
</head>
<body>
    <div class="modal__wrapper">
        <div class="modal__title">Title</div>
        <div class="modal__descr">Description</div>
        <div class="modal__item">
            <select name="spisok">
                <option value="user">Select user</option>
            </select>
            <div class="modal__but">
                <button class="modal__btn action-button">Cancel</button>
                <button class="modal__bttn action-button">Confirm</button>
            </div>
        </div>
    </div>

    <div class="warning">
        <h3 class="warning__text">Warning!</h3>
        <div class="warning__but">
            <button class="warning__btn action-button">Cancel</button>
            <button class="warning__bttn action-button">Confirm</button>
        </div>
    </div>
    
    <div class="trello__block">
        <h3 class="trello__title">Trello</h3>
        <div class="trello__frame">
            <div class="trello__time">12:32</div>
        </div>
    </div>
</body>
</html>