.modal {
    &__wrapper {
    border: 1px solid rgb(35, 185, 95);
    border-radius: 20px;
    display: none;
    flex-direction: column;
    padding: 20px 40px;
    width: 500px;
    margin: 0 auto;
    background-color: #d8f2da;
    }

    &__item {
        display: flex;
        margin: 0 5px;
    }

    &__but {
        display: flex;
        margin: 0 50px;
    }
}

select {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 0 40px;
    margin: 0 5px;
}

input[type=title] {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    font: 1em sans-serif;
    text-align: center;
    margin: 15px 5px;
    padding: 5px;
}

input[type=text] {
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    width: 400px;
    height: 100px;
    font: 1em sans-serif;
    text-align: center;
    margin: 0 5px 30px;
    padding: 40px;
}

.warning {
    display: none;
    border: 1px solid rgb(35, 185, 95);
    border-radius: 20px;
    padding: 30px 40px;
    width: 500px;
    margin: 50px auto;
    background-color: #d8f2da;
    width: 300px;
    height: 150px;

    &__text {
        text-align: center;
        font: 1em sans-serif;
        font-weight: bold;
    }

    &__but {
        display: flex;
        margin: 50px 30px;
    }
}

.trello {
    &__block {
        display: flex;
        border: 1px solid rgb(199 175 219);
        border-radius: 20px;
        padding: 30px 40px;
        margin: 0 auto;
        background-color: rgb(215 200 229 / 67%);
        width: 800px;
        height: 125px;
    }

    &__title {
        text-align: center;
        font: 1em sans-serif;
        margin: auto 0;
    }

    &__frame {
        border: 1px solid #a9a9a9;
        border-radius: 5px;
        background-color: white;
        width: 100px;
        height: 45px;
        margin-left: auto;
        margin-top: 10px;
    }

    &__time {
        text-align: center;
        padding: 13px;
        font: 1em sans-serif;
        color: #545454;
    }
}