.modal {
    &__wrapper {
    border: 1px solid rgb(35, 185, 95); 
    border-radius: 20px;
    display: none;
    flex-direction: column;

    padding: 20px 40px;
    width: 600px;
    background-color: rgba(#d8f2da, .5);

    position: fixed;
    top: 40%;
    left: 35%;

        &.active {
        display: flex;
        }
    
    }
 

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        //margin: 0 5px;
    }

    &__buttons {
        display: flex;
        gap: 0 10px;
    }
}

.modal__btn-cancel {
    &:hover {
        background-color: red;
    }
}
.modal__btn-confirm {
    &:hover {
        background-color: $greenColor;
    }
}


.user__list {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 0 10px;
    margin: 0 5px;
}

.modal__input-title {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    @include fontSize(16);
    text-align: center;
    margin: 15px 5px;
    padding: 5px;
}

.modal__input-description {
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    width: 400px;
    height: 100px;
    @include fontSize(16);
    text-align: center;
    margin: 0 5px 30px;
    padding: 40px;
}

.warning {
    display: none;
    border: 1px solid rgb(35, 185, 95);
    border-radius: 20px;
    padding: 30px 40px;
    width: 500px;
    background-color: #d8f2da;
    height: 150px;
    flex-direction: column;
    gap: 25px 0;

    position: fixed;
    top: 40%;
    left: 35%;
    &__btn  {
        &-cancel {
            @include transitionAll;
            &:hover {
                background-color: $redColor;
                cursor: pointer;
            }
        }
        &-confirm {
            @include transitionAll;
            &:hover {
                background-color: $greenColor;
                cursor: pointer;
            }
        }
    }
    &__text {
        text-align: center;
        @include fontSize(16);
        font-weight: bold;
    }

    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 10px;
    }
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
