.modal__btn {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px 15px;
    margin: 0 10px;
}

.modal__bttn {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px 15px;
}

.warning__btn {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px 15px;
    width: 90px;
    height: 25px;
}

.warning__bttn {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px 15px;
    margin: 0 10px;
    width: 90px;
    height: 25px;
}