.action-button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 90px;
    height: 25px;
    @include transitionAll;
    &:hover {
        cursor: pointer;
    }
}