// fonts

$rampart: 'Rampart One', cursive;
$roboto: 'Roboto', sans-serif;

// colors
$primary: #00AECC;
$secondary: #ECECEC;

$buttonColor: #BEBEBE;

$darkColor: #545454;
$greenColor: rgb(55, 193, 55);
$yellowColor: #FEF160;
$redColor: red;


// dark mode

$textWhite: #fff;
$darkBg: #000000;
$darkItemBg: #1c1c1e;
$darkInput: #2a2a2c;
