.progress {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 15px;
    height: 500px;
    background-color: $secondary;

    &__header {
        border: 2px solid #000;
        border-radius: 10px;
        padding: 10px;
        @include flexXY(space-between, center);
        background-color: #F5F5F5;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 15px;
    }
}

.header__counter {
    @include fontSize(16);
}

.progress-card {

    &__card-item{
        border: 2px solid #000;
        border-radius: 5px;
        padding: 10px;
        background-color: #F5F5F5;
        margin-bottom: 10px;
    }
}

.progress-card__card-list{
    overflow-y: auto;
    gap: 10px;
    padding: 0 5px;

    &::-webkit-scrollbar {
        width: 2px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: black;
    }
}

.card-item {
    &__btn {

        &-back {
            &:hover {
                cursor: pointer;
                background-color: red;
            }
        }

        &-complete {
            &:hover {
                cursor: pointer;
                background-color: $greenColor;
            }
        }
    }
}


// delete all

.delete-all__btn {
    background-color: rgba(#f4f4f4, 1.0);
    border-radius: 8px;
    width: 100%;
    font-weight: 500;
    text-transform: capitalize;
    @include transitionAll;
    &:hover {
        cursor: pointer;
        background-color: #a0a0a0;
    }
}