.card-item {
    &__btn {

        &-back {
            &:hover {
                cursor: pointer;
                background-color: red;
            }
        }

        &-complete {
            &:hover {
                cursor: pointer;
                background-color: $greenColor;
            }
        }
    }
}

.progress-actions {
    gap: 60px;
}
.done-actions {
    gap: 60px;
}

