.home {
    height: 100vh;
    @include flexY(center);

    background-color: #f4f4f4;
    font-family: $roboto;

    @media (max-width: 1200px) {
		width: 1024px;
        height: 100%;
	}

	@media (max-width: 767px) {
		width: 771px;
        height: 100%;
	}

	@media (max-width: 479px) {
		width: 100%;
        height: 100%;
	}

}

.trello-list-cards {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
		width: 1024px;
	}

	@media (max-width: 767px) {
		width: 771px;
	}

	@media (max-width: 479px) {
		width: 100%;
        flex-wrap: wrap;
        
	}
}