.home {
    height: 100vh;
    @include flexY(center);

    background-color: #f4f4f4;
    font-family: $roboto;

	@include mediaTablet {
		width: 500px;
		height: 100%;
	}

	@include mediaMobile {
        width: 100%;
	}

}

.trello-list-cards {
    display: flex;
    justify-content: space-between;

	@include mediaTablet {
		width: 100%;
		margin: 10px 0;
	}

	@include mediaMobile {
		width: 100%;
        flex-wrap: wrap;
		margin: 10px 0;
	}
}