<div class="progress">

    <div class="progress__header">
        <p class="header__title">in progress</p>
        <div class="header__counter">0</div>
    </div>

    <div class="progress__body">
        <ul class="progress-card__card-list">
            <!-- <li class="progress-card__card-item">
                    <div class="card-item__btn--wrapper">
                        <button class="card-item__btn-back card-item__btn">BACK</button>
                        <button class="card-item__btn-complt card-item__btn">COMPLETE</button>
                    </div>
                    <div class="card-item__descr--wrapper">
                        <p class="card-item__title"><span class="card-item__stat-title">Title:</span> Ychi JS</p>
                        <p class="card-item__descr"><span class="card-item__stat-descr">Description:</span> Bistra</p>
                    </div>

                    <div class="card-item__footer--wrapper">
                        <p class="card-item__footer-user"><span class="card-item__footer-user-text">user: </span>Ewwel</p>
                        <p class="card-item__footer-date"><span class="card-item__footer-user-date">date: </span>1/09/22</p>
                    </div>
            </li> -->
        </ul>
    </div>
</div>

<button class="render">render</button>
