<div class="item-todo">
    <div class="item-todo__header">
        <h2 class="item-todo__header-title">TODO:</h2>
        <p class="item-todo__header-counter">2</p>
    </div>
    <ul class="item-todo__task-list tasks-list">
        <li class="tasks-list__item">
            <div class="tasks-list__item-titles">
                <p class="tasks-list__item-title">Title</p>
                <p class="tasks-list__item-desc">Description</p>
                <p class="tasks-list__item-user">User</p>
            </div>
            <div class="tasks-list__item-actions">
                <div class="tasks-list__item-actions-editing">
                    <button class="tasks-list__item-actions-edit">Edit</button>
                    <button class="tasks-list__item-actions-delete">Delete</button>
                </div>
                <button class="tasks-list__item-actions-jump"> > </button>
                <p class="tasks-list__item-actions-time">Time</p>   
            </div>
        </li>
    </ul>
    <button class="item-todo__button-add-todo">Add todo</button>
    
</div>